target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/

# Chrome drivers
drivers/chrome/**
!drivers/chrome/.gitkeep

#Captcha
captcha/**
!drivers/captcha/.gitkeep

# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

og files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml


# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv